<?xml version="1.0" standalone="no" ?>
<world gridSize="10,10,10" windowSize="1280,720">
	<camera target="25,20,10" thetaPhiDist="0,30,100" fov="30" near="1.0" far="300.0"/>
	<spotlight target="25,25,0" thetaPhiDist="-35,40,150" fov="20"/>

	<blockList color="128,128,128" blockSize="10,10,10">
		<block position="3,3,0" orientation="0" />
		<block position="4,3,0" orientation="0" />
		<block position="3,4,0" orientation="0" />
		<block position="4,4,0" orientation="0" />
		<block position="3,3,1" orientation="0" />
		<block position="4,4,1" color="#FFFF00" orientation="0" />
		<block position="3,4,1" color="#00FF00" orientation="0" />
	</blockList>
    <movingBlocks>
		<block position="4,4,1" color="#FFFF00" orientation="0" />
		<block position="3,4,1" color="#00FF00" orientation="0" />
	</movingBlocks>
	<targetList>
		<target format="grid">
			<cell position="3,3,2" color="255,255,64"/>
			<cell position="4,3,2" color="255,255,64"/>
		</target>
	</targetList>
</world>
