<?xml version="1.0" standalone="no" ?>
<world gridSize="10,10,10" windowSize="1280,720">
  <camera target="25,20,10" thetaPhiDist="0,30,100" fov="30" near="1.0" far="300.0"/>

  <blockList color="128,128,128" blockSize="10,10,10">
    <!-- mobile modules -->
    <block position="5,1,0" color="#ff00ee" orientation="0" mobile="true" />

    <!-- fixed modules -->
    <block position="5,2,0" orientation="0" mobile="false" />
    <block position="5,3,0" orientation="0" mobile="false" />
    <block position="5,4,0" orientation="0" mobile="false" />
    <block position="5,5,0" orientation="0" mobile="false" />
  </blockList>

  <targetList>
    <target format="grid">
      <cell position="5,6,0" color="65,65,64"/>
    </target>
  </targetList>
</world>
